@import url(./Post\ Author\ Info.css);
@import url(./Post\ Body.css);
@import url(./Post\ Cards.css);
@import url(./Post\ Header.css);


.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.buttons {
    margin-top: 10px;
}

.read-more-button,
.share-button {
    background-color: seagreen;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}




footer {
    background-color: seagreen;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}