.banner {
    text-align: center;
}

.banner-image {
    max-width: 100%;
}


.hero {
    background-color: #cc5500;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    

}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-decoration: underline;

}

.hero p {
    font-size: 18px;
}