header {
    background-color: seagreen;
    padding: 20px 0;
    text-align: center;
}

nav ul.menu {
    list-style: none;
}

nav ul.menu li {
    display: inline;
    margin-right: 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
}